#s-bb181922-ba3f-4602-8198-74b7667a0a45 > #backgroundBox {
  position: absolute;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 > #backgroundBox > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/d1e35c13-55e6-4c80-98ca-b413516838a1.jpg');
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 > #alignmentBox {
  position: relative;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_2 {
  width: 1040.9999999999995px;
  height: 71.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 {
  position: absolute;
  width: 1040.9999999999995px;
  min-height: 71.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(36,166,156,0.5);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 {
  position: absolute;
  width: 152.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,248,248,0.3);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 {
  position: absolute;
  width: 152.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,248,248,0.3);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 {
  position: absolute;
  width: 152.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,248,248,0.3);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 {
  position: absolute;
  width: 152.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,248,248,0.3);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 {
  position: absolute;
  width: 152.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,248,248,0.3);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 {
  position: absolute;
  width: 152.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  invert(100.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,248,248,0.3);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 {
  position: absolute;
  width: 527.2999999999997px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 input {
  color: #FFFCFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,248,248,0.3);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_1 .imageViewport > * {
  width: 162.64517117863025%;
  height: 161.60051069938365%;
  left: -31.652375425903788%;
  top: -29.84411789290486%;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_1 {
  position: absolute;
  width: 105.0px;
  height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 98.37px;
  border-top-right-radius: 98.37px;
  border-bottom-right-radius: 98.37px;
  border-bottom-left-radius: 98.37px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_1 > .borderLayer {
  border-top-left-radius: 98.37px;
  border-top-right-radius: 98.37px;
  border-bottom-right-radius: 98.37px;
  border-bottom-left-radius: 98.37px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 98.37px;
  border-top-right-radius: 98.37px;
  border-bottom-right-radius: 98.37px;
  border-bottom-left-radius: 98.37px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 {
  position: absolute;
  width: 1131.9999999999998px;
  min-height: 403.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: rgba(36,166,156,0.5);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_60 {
  position: absolute;
  width: 438.7441892386531px;
  min-height: 255.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Amiko_14.0.0_google',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_60 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_60 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_60 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko_14.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 23px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_60 span#rtr-s-Paragraph_60_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Amiko_14.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 23px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_17 {
  position: absolute;
  width: 363.7979502196196px;
  min-height: 37.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Amiko_14.0.0_google',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko_14.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Amiko_14.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_6 {
  position: absolute;
  width: 594.1756954611997px;
  height: 331.4787701317715px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_1 {
  width: 1040.9999999999995px;
  height: 71.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 {
  position: absolute;
  width: 1040.9999999999995px;
  min-height: 71.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(36,166,156,0.5);
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Path_1 {
  position: absolute;
  width: 30.000001725961283px;
  height: 29.999999928422653px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Path_2 {
  position: absolute;
  width: 15.40476200612217px;
  height: 15.407818405661132px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Path_3 {
  position: absolute;
  width: 3.5952743226957864px;
  height: 3.612069272168469px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Path_4 {
  position: absolute;
  width: 30.0px;
  height: 29.37150655581661px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Path_5 {
  position: absolute;
  width: 12.83203125px;
  height: 23.77885766174188px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Path_6 {
  position: absolute;
  width: 30.0px;
  height: 29.999999999999996px;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 #s-Path_7 {
  position: absolute;
  width: 30.000000000000004px;
  height: 30.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bb181922-ba3f-4602-8198-74b7667a0a45 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}